---
name: tmate
on:
  workflow_dispatch:
    inputs:
      os:
        description: 'os'
        type: string
        required: false
        default: "ubuntu-latest"
      py_ver:
        description: 'py ver'
        type: string
        required: false
        default: "3.10"
jobs:
  tmate:
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false
        fetch-depth: 0
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.py_ver }}
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
